@tailwind base;
@tailwind components;
@tailwind utilities;

/* shadcn base styles */

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;

    --card: 255 255 255;
    --card-foreground: 15 23 42;

    --primary: 15 23 42;
    --primary-foreground: 248 250 252;

    --secondary: 241 245 249;
    --secondary-foreground: 15 23 42;

    --border: 226 232 240;
    --input: 226 232 240;
    --ring: 15 23 42;

    --radius: 0.5rem;
  }

  body {
    @apply bg-white text-slate-900;
  }
}
